.menu_item {
  @apply m-0;
}

.menu_link {
  @apply text-sm text-black font-bold transition-all py-1 duration-200 border-b-2 border-transparent;
}

.menu_link:hover {
  @apply border-main;
}

.menu_buttons {
  @apply flex items-center gap-3 font-bold text-sm pb-1;
}

.menu_button {
  @apply text-black transition-all duration-200 border-b-2 border-transparent;
}

.active {
  @apply text-orange-600 font-bold border-b-[2px] border-orange-600;
}
