.container {
  @apply max-w-[1280px] mx-auto p-[10px];
}

.wrapper {
  @apply bg-white rounded-lg mt-[20px] sm:mt-[30px];
}

.alert {
  @apply mb-6 bg-yellow-100 border border-yellow-400 text-yellow-800 p-4 rounded-lg;
}

.link {
  @apply mt-2 inline-block bg-white border border-yellow-400 items-center justify-center text-black p-2 rounded-lg shadow-sm hover:shadow-md;
}
.content {
  @apply flex gap-[20px] flex-col sm:flex-row sm:gap-8;
}

.forms {
  @apply flex-1;
}

.cart_summary {
  @apply w-full bg-gray-50 rounded-lg p-[10px] shadow-lg flex flex-col justify-between sm:w-1/3 sm:p-[20px];
}

.cart_summary_bold {
  @apply font-bold;
}

.cart_items {
  @apply pt-2 pb-2 text-sm;
}

.order_button {
  @apply mt-2 text-lg font-light px-4 py-2 rounded-lg bg-main border-main transition hover:bg-main_hover hover:border-main_hover border text-center disabled:bg-gray-300 disabled:cursor-not-allowed disabled:border-gray-300;
}

.button_group {
  @apply flex items-center justify-center gap-2 sm:justify-start;
}

.toggle_button {
  @apply py-2 px-4 rounded-lg bg-gray-200 text-gray-700 transition hover:bg-gray-300;
}

.toggle_button.active {
  @apply rounded-lg bg-main transition hover:bg-main_hover text-center;
}

.breadcrum_list {
  @apply text-sm list-none flex flex-wrap gap-2 lg:text-base;
}

.breadcrum_link {
  @apply flex-shrink-0;
}

.cart_gift {
  @apply mt-4;
}

.cart_gift_item {
  @apply text-sm text-green-700;
}
