.scrollToTop {
  @apply fixed bottom-5 right-5 p-2 bg-main text-white rounded-full shadow-lg cursor-pointer transition-all opacity-0 sm:p-3 sm:bottom-8 sm:right-8;
  transition: opacity 0.3s ease-in-out;

  &.visible {
    @apply opacity-100;
  }

  &:hover {
    @apply opacity-80;
  }
}
