.container {
  @apply max-w-[1280px] mx-auto p-[10px];
}

.group {
  @apply scroll-mt-[65px] mb-8;
}

.group_title {
  @apply text-2xl mb-4;
}

.products {
  @apply flex flex-col gap-1 pt-0 sm:pt-6;
}

.product_card {
  @apply flex gap-2 p-1 items-center justify-between border sm:p-2 sm:gap-4;
}

.product_card_wrapper {
  @apply flex items-center gap-[5px] sm:gap-4;
}

.product_image {
  @apply flex-shrink-0 object-cover w-[50px] h-[30px] sm:w-[100px] sm:h-[80px];
}

.product_name {
  @apply font-medium leading-tight text-xs sm:text-lg sm:font-bold block;
}

.product_description {
  @apply italic text-[#ea580c] block font-medium leading-tight text-xs sm:text-base;
}

.product_bottom {
  @apply flex flex-shrink-0 gap-2 items-center text-sm justify-between sm:gap-4 sm:text-base;
}

.product_bottom_wrapper {
  @apply flex flex-col items-end flex-shrink-0;
}

.product_weight_price {
  @apply flex flex-col gap-[0] items-end sm:flex-row sm:gap-4;
}

.no_products {
  @apply italic text-gray-500;
}

.quantity_button_icon {
  @apply w-[15px] h-[15px] sm:w-[20px] sm:h-[20px];
}

.quantity_button {
  @apply font-medium p-1 h-[25px] w-[25px] bg-main border border-white flex items-center justify-center text-black hover:border-main hover:bg-white rounded-full transition-all duration-200 sm:h-[34px] sm:w-[34px];
}

.quantity_controls {
  @apply flex items-center gap-1 sm:gap-2;
}

.quantity {
  @apply text-center font-bold w-5 sm:w-6;
}

.min_order_warning {
  @apply text-[10px] text-red-500 italic mt-2 sm:text-sm;
}
