.field {
  @apply text-left;

  > label {
    > span {
      @apply text-[15px] font-medium text-gray-600;
    }

    input {
      @apply bg-white text-sm font-light border border-main p-2 rounded-md flex h-10 w-full px-4 py-2 focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50 my-2;
    }
  }
}

.error {
  @apply text-red-500 font-medium text-sm mb-2;
}
